<h1>Create a new lesson</h1>

<form action="/lessons" method="post"><legend align="bottom">
  <label for="lesson_number">Lesson #</label>
  <textarea input id="lesson_number" name="number" type="integer" rows="1" cols="20"></textarea>
  <label for="lesson_name">Title</label>
  <textarea input id="lesson_name" name="name" type="string" rows="1" cols="50"></textarea></legend>
  <p><label for="lesson_content">Content:</label></p>
  <p><textarea input id="lesson_contact" name="content" type="text" rows="30" cols="88"></textarea></p>
  <button>Add Lesson</button>
</form>
